#catalogs-launch {
  .catalogs-launch-img {
    img {
      max-width: 100%;
      max-height: 80vh;
    }
  }
  .catalogs-launch-title {
    i {
      position: relative;
      font-size: 46px;
      top: -5px;
      &.icon-logo-mono {
        font-size: 36px;
        top: -5px;
      }
      @include media-breakpoint-down(uxl) {
        font-size: 36px;
        top: -3px;
        &.icon-logo-mono {
          font-size: 28px;
        }
      }
      @include media-breakpoint-down(md) {
        font-size: 22px;
        top: -3px;
        &.icon-logo-mono {
          font-size: 16px;
          top: -3px;
        }
      }
    }
  }
  .catalogs-launch-cta {
    @include media-breakpoint-down(lg) {
      position: absolute;
      display: block;
      width: calc(100% - 24px);
    }
    > a {
      background:
        linear-gradient(
          0deg,
          rgba(29, 29, 31, 0.1) 0%,
          rgba(29, 29, 31, 0.1) 100%
        ),
        rgba(71, 71, 75, 0.5);
      backdrop-filter: blur(22.5px);
      display: inline-flex;
      gap: 1.5rem;
      @include media-breakpoint-down(lg) {
        width: 100%;
        .catalogs-launch-cta-img {
          width: 50%;
        }
      }
      .catalogs-launch-cta-txt {
        @include media-breakpoint-down(lg) {
          font-size: 14px;
        }
        .catalogs-launch-cta-arrow {
          visibility: hidden;
          opacity: 0;
          transform: translateY(-8px);
          transition:
            opacity 200ms ease,
            transform 200ms ease;
        }
        i {
          margin-left: -2px;
        }
      }
    }
    &:hover,
    &:focus-within,
    &:active,
    > a:hover,
    > a:focus-visible,
    > a:active {
      .catalogs-launch-cta-arrow {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
