# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/index.php

# Log files
*.log
.DS_Store
/img
style.css
style.css.map
style.min.css
style.min.css.map
assets/icons/fontello-single/filcar-icon-arrow-down.svg
assets/icons/fontello-single/filcar-icon-arrow-downr.svg
assets/icons/fontello-single/filcar-icon-arrow-right.svg
assets/icons/fontello-single/filcar-icon-arrow-up.svg
assets/icons/fontello-single/filcar-icon-arrow-upr.svg
assets/icons/fontello-single/filcar-icon-arrow-zoom.svg
assets/icons/fontello-single/filcar-icon-chevron-forward.svg
assets/icons/fontello-single/filcar-icon-close.svg
assets/icons/fontello-single/filcar-icon-document.svg
assets/icons/fontello-single/filcar-icon-email.svg
assets/icons/fontello-single/filcar-icon-hamburger.svg
assets/icons/fontello-single/filcar-icon-items.svg
assets/icons/fontello-single/filcar-icon-phone.svg
assets/icons/fontello-single/filcar-icon-pin.svg
assets/icons/fontello-single/filcar-icon-trash.svg
assets/icons/fontello-single/icon-anticaduta.svg
assets/icons/fontello-single/icon-aperto.svg
assets/icons/fontello-single/icon-banchi.svg
assets/icons/fontello-single/icon-chiuso.svg
assets/icons/fontello-single/icon-fissa.svg
assets/icons/fontello-single/icon-grande.svg
assets/icons/fontello-single/icon-lista.svg
assets/icons/fontello-single/icon-media.svg
assets/icons/fontello-single/icon-no-predisposizioni.svg
assets/icons/fontello-single/icon-optional.svg
assets/icons/fontello-single/icon-predisposizioni-elettriche.svg
assets/icons/fontello-single/icon-regolabile.svg
assets/icons/fontello-single/icon-sottostruttura.svg
assets/icons/fontello-single/icon-sovrastruttura.svg
assets/icons/fontello-single/icon-standard.svg
assets/icons/fontello-single/ip55.svg
assets/icons/fontello-single/logo-dual.svg
assets/icons/fontello-single/logo-infinity.svg
assets/icons/fontello-single/logo-mono.svg
assets/icons/fontello-single/push-to-open.svg
assets/icons/fontello-single/reversibile.svg
assets/icons/fontello-single/soft-close-1.svg
assets/icons/fontello-single/soft-close.svg
assets/icons/fontello-single/spessore-3-mm.svg
