.dropdown-toggle {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    &.show{
        color: #ffffff !important;
        font-weight: 600 !important;
    }
}
/* Il contenitore principale del dropdown */
.megamenu.attrezzature-megamenu {
    width: 100vw;
    /* Usiamo una variabile calcolata via JS per l'altezza */
    height: calc(100vh - $header-bar-height) !important;
    top: $header-bar-height !important; /* Si posiziona sotto la navbar */
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    overflow: hidden; /* Evita scroll sulla colonna principale */
    align-items: center;
    &.show{
        display: flex !important;
    }
    > .container-fluid{
        height: calc(100vh - $header-bar-height) !important;
        overflow-y: scroll;
    }
    @include media-breakpoint-down(uxl) {
        height: calc(100vh - $header-bar-height-uxl) !important;
        top: $header-bar-height-uxl !important;
        > .container-fluid{
            height: calc(100vh - $header-bar-height-uxl) !important;
        }
    }
}

/* Wrapper interno per il layout a due colonne */
.attrezzature-wrapper {
    display: flex;
    height: 100%; /* Occupa tutto il 100vh calcolato */
    width: 100%;
    align-items: center;
}

/* Colonna sinistra (Sidebar) */
.attrezzature-sidebar {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar, &::-webkit-scrollbar-button {
        display: none;
    }
}

/* Colonna destra (Contenuto) */
.attrezzature-content {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto; /* Se ci sono tanti prodotti, scrolla solo qui */
    display: flex;
    align-items: center;
}

/* Applichiamo le dimensioni a entrambi i tipi di megamenu speciali */
.arredo-tecnico-megamenu,
.attrezzature-megamenu {
    width: 100vw !important;
    height: calc(100vh - $header-bar-height) !important;
    position: fixed !important;
    left: 0 !important;
    top: $header-bar-height !important; /* Si posiziona sotto la navbar */
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: $primary !important;
    transform: none !important;
    @include media-breakpoint-down(uxl) {
        top: 79px !important; /* Si posiziona sotto la navbar */
        height: calc(100vh - 79px) !important;
    }
}

.attrezzature-megamenu::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: $grey800;
    left: calc(50% - 10px);
    top: 0;
    transform: translateX(-50%);
}

.admin-bar {
    .arredo-tecnico-megamenu,
    .attrezzature-megamenu,
    .flc-right-nav{
        height: calc(100vh - $header-bar-height-admin) !important;
        @include media-breakpoint-down(uxl) {
            height: calc(100vh - 111px) !important;
        }
        @include media-breakpoint-down(lg) {
            height: calc(100vh - 80px) !important;
        }
    }
}

/* Scroll interno per l'arredo tecnico se le righe sono tante */
.arredo-tecnico-megamenu .inner-container-small {
    height: 100%;
    overflow-x: hidden;
    width: 830px;
    max-width: 100%;
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar, &::-webkit-scrollbar-button {
        display: none;
    }
}

.arredo-tecnico-scroll-container {
    max-height: 100%;
    overflow-y: auto;
    padding-right: 15px; /* Evita sovrapposizione con scrollbar */
}

.arredo-tecnico-menu__lvl3-link .icon-big{
    font-size: 18px;
}

.arredo-tecnico-menu__row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $gray-800;
}

.arredo-tecnico-menu__lvl3-link {
    .figure-img-menu-arredo-tecnico {
        width: 300px;
        transition: all 0.25s ease;
        @include media-breakpoint-down(uxl) {
            width: 215px;
        }
        @include media-breakpoint-down(lg) {
            max-width: 180px;
        }
        @include media-breakpoint-down(md) {
            max-width: 90px;
        }
    }
    &:hover{
        .figure-img-menu-arredo-tecnico {
            width: 350px;
            @include media-breakpoint-between(uxl, lg) {
                width: 240px;
            }
        }
    }
}

.attrezzature-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .attrezzature-trigger{
        position: relative;
        margin-bottom: 21px;
        &:after {
            content: "";
            position: absolute;
            bottom: -11px;
            width: calc(50% - var(--bs-gutter-x));
            height: 1px;
            right: calc(var(--bs-gutter-x) * .5);
            background: $grey800;
        }
        &.is-active{
            .h7{
                color: #ffffff !important;
            }
            &:after{
                width: calc(60% - var(--bs-gutter-x));
            }
        }
        .figure-img-left-links{
            width: 160px;
            transition: all 0.25s ease;
            margin-bottom: 0;
            @include media-breakpoint-down(uxl) {
                width: 120px;
            }
            @include media-breakpoint-down(sxl) {
                max-width: 100px;
            }
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
        &.is-active{
            .figure-img-left-links{
                width: 350px;
                @include media-breakpoint-down(uxl) {
                    width: 270px;
                }
                @include media-breakpoint-down(sxl) {
                    max-width: 215px;
                }
            }
        }
        &:hover{
            .h7{
                color: #ffffff !important;
            }
        }
    }
}
.hover-white:hover{
    color: #ffffff !important;
}

/* Il contenitore che si apre */
.flc-right-nav {
    position: fixed;
    top: $header-bar-height;
    left: 0;
    width: 100vw;
    height: calc(100vh - $header-bar-height) !important;
    background-color: $primary; /* Fondo scuro coerente */
    z-index: 999;
    
    /* Animazione di apertura */
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
    
    overflow-y: auto;
    padding: 2rem;

    scrollbar-width: none;
    -ms-overflow-style: none;

    @include media-breakpoint-down(uxl) {
        top: 79px;
        height: calc(100vh - 79px) !important;
    }
    @include media-breakpoint-down(lg) {
        top: 48px;
        height: calc(100vh - 48px) !important;
    }
    &::-webkit-scrollbar, &::-webkit-scrollbar-button {
        display: none;
    }
    &.is-active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        display: flex;
        align-items: center;
        @include media-breakpoint-down(lg) {
            align-items: start;
        }
    }
    .menu-widget-area{
        figure{
            width: max-content;
            border-radius: 8px;
            overflow: hidden;
            max-width: 100%;
        }
        p{
            color: #ffffff !important;
        }
        .is-style-logos-only {
            column-gap: 2.5rem;
            row-gap: 1rem;
            @include media-breakpoint-down(sxl) {
                column-gap: 2.5rem;
            }
            @include media-breakpoint-down(md) {
                column-gap: 1.75rem;
            }
            .wp-block-social-link-label{
                display: none;
            }
        }
    }
    .col-6{
        flex: 1 1 auto;
    }
}
/* Se vuoi bloccare lo scroll del body quando il menu è aperto */
body.menu-open {
    overflow: hidden;
}
.flc-rightmenu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-self: end;
    @include media-breakpoint-down(lg) {
        width: 100%;
    }
    > li{
        border-bottom: 1px solid $grey800;
        padding-left: 0 !important;
        padding-right: 3.5rem !important;
        position: relative;
        @include media-breakpoint-down(lg) {
            padding-right: 0 !important;
            border-bottom: none;
            border-top: 1px solid $grey800;
        }
        &:hover{
            &:after{
                content: '\e804';
                font-family: "fontello";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                font-size: 46px;
                @include media-breakpoint-down(lg) {
                    content: none;
                }
            }
        }
        > a{
            @include media-breakpoint-down(lg) {
                font-weight: 400;
                line-height: normal;
                font-family: "IBMPlexSans", sans-serif;
                font-size: 20px;
            }
            @include media-breakpoint-down(md) {
                font-size: 16px;
            }
        }
    }
}
.flc-right-nav {
    span.nav-link.dropdown-toggle{
        border-bottom: 1px solid $grey800;
        padding-left: 0 !important;
        padding-right: 3.5rem !important;
        position: relative;
    }
    .second-level-label {
        border-top: 1px solid $grey800;
        padding-top: 1rem;
        height: 0;
        margin-bottom: 0;
        @include media-breakpoint-down(md) {
            padding-top: 8px;
        }
    }
    .figure-arredo-mob{
        width: 180px;
        aspect-ratio: 4 / 3;
    }
    .list-unstyled{
        li:not(:last-of-type){
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $grey800;
            @include media-breakpoint-down(md) {
                margin-bottom: 8px;
                padding-bottom: 8px;
            }
        }
    }
    .js-accordion-trigger{
        cursor: pointer;
        .accordion-icon i{
            display: block;
            transform: rotate(90deg);
            font-size: 10px;
        }
        &.is-active{
            .accordion-icon i{
                transform: rotate(-90deg);
                position: relative;
            }
        }
    }
    .menu-attrezzature-operative{
        .accordion-collapse{
            padding-top: 1.5rem;
            @include media-breakpoint-down(md) {
                padding-top: 0;
            }
            .accordion-collapse{
                @include media-breakpoint-down(md) {
                    padding: 8px;
                    .list-unstyled{
                        padding-bottom: 0 !important;
                    }
                }
            }
        }
        .accordion-body{
            @include media-breakpoint-down(lg) {
                padding-left: 1.5rem !important;
                gap: 2rem !important;
            }
            @include media-breakpoint-down(md) {
                gap: 1rem !important;
            }
        }
    }
}
.flc-rightmenu-mobile li.menu-item-has-children{
    .sub-menu {
        padding-left: 0;
        list-style: none;
        > li {
            > a{
                padding: 9px 0 !important;
                color: $grey500 !important;
            }
            &:first-of-type {
                > a {
                    padding-top: 0 !important;
                }
            }
            /* &:first-of-type {
                > a {
                    padding-top: 0 !important;
                    @extend .p-small;
                }
            } */
        }
    }
}