.footer-placeholder {
  height: 50vh;
  background-color: $primary;
}
.flc-main-footer > .container-fluid > .row {
  .first-column-container {
    > .footer-widget-area{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .social-container-footer {
    gap: 4rem;
    @include media-breakpoint-down(sxl) {
      gap: 3rem;
    }
    @include media-breakpoint-down(lg) {
      gap: 2rem;
      align-items: center;
    }
    @include media-breakpoint-down(md) {
      gap: 1.5rem;
    }
    .is-style-logos-only {
      column-gap: 3rem;
      row-gap: 1rem;
      @include media-breakpoint-down(sxl) {
        column-gap: 2.5rem;
      }
      @include media-breakpoint-down(md) {
        column-gap: 1.75rem;
      }
      .wp-block-social-link-label{
        display: none;
      }
    }
  }
  .footer-widget-area {
    height: 100%;
    .widget_nav_menu {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;
      @include media-breakpoint-down(lg){
        .widget-title {
          font-weight: 500;
        }
      }
      @include media-breakpoint-down(lg){
        border-top: 1px solid $grey800;
        padding-top: 1.5rem;
      }
      > ul {
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        list-style: none;
        flex-grow: 1;
        border-left: 1px solid $grey800;
        gap: 1rem;
        margin-bottom: 0;
        padding-bottom: 50px;
        @include media-breakpoint-down(lg){
          border-left: 0;
          padding-left: 0.5rem;
          padding-bottom: 1.5rem;
        }
        > li {
          &.footer-menu-link-arrow {
            > a{
              display: flex;
              width: 100%;
              justify-content: space-between;
              &::after {
                content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuODc1MzQgMTMuMTk1NEwxMi41MTIyIDcuNTUwMzFDMTIuOTAyNCA3LjE1OTUgMTIuOTAxOSA2LjUyNjM4IDEyLjUxMTEgNi4xMzYxOUw2Ljg2NTEgMC41MDAxMThNMC41MDAzNjUgNi44NTE4M0wxMi4yNTg4IDYuODUxODMiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
                color: #ffffff;
              }
            }
          }
          > a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
          }
        }
      }
    }
  }
  &.copyright-area{
    h5{
      font-weight: 600;
      margin-bottom: 1rem !important;
    }
    .links-container{
      .footer-widget-area{
        display: flex;
        align-items: end;
        justify-content: space-between;
        column-gap: 5rem;
        @include media-breakpoint-down(uxl) {
          column-gap: 1.5rem;
        }
        @include media-breakpoint-down(lg) {
          flex-wrap: wrap;
          row-gap: 1rem;
          > div:first-of-type{
            width: 100%;
          }
        }
        > div{
          > p{
            margin-bottom: 0;
          }
        }
        > div:not(:first-of-type){
          flex-grow: 1;
          > p{
            white-space: nowrap;
          }
        }
        > div:first-of-type{
          flex-shrink: 1;
        }
        a{
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}