.footer-placeholder {
    height: 100vh;
    background-color: #000000;
}
.flc-main-footer > .container-fluid > .row {
    .social-container-footer{
        gap: 1rem;
    }
    @include media-breakpoint-down(llg) {
        flex-wrap: nowrap;
        .first-column-container {
            flex-shrink: 1;
            .footer-widget-area{
                font-size: 14px;
            }
        }
    }
    @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        .first-column-container .footer-widget-area {
            display: flex;
            flex-direction: row;
            > div{
                width: 50%;
                &:last-of-type {
                    display: none;
                }
            }
        }
    }
}
.footer-widget-area {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .wp-block-social-links{
        justify-content: space-between;
        width: 100%;
    }
    .widget_nav_menu{
        .widget-title{
            margin-bottom: 12px;
            display: block;
        }
        .menu{
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            gap: 12px;
            a{
                color: #ffffff;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
                &:focus{
                    text-decoration: underline;
                }
            }
        }
    }
}
.footer-mobile-container .footer-widget-area .widget_nav_menu .menu{
    @include media-breakpoint-down(llg) {
        gap: 0;
        > .menu-item {
            font-size: .75rem;
            &:not(:last-child) {
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid;
            }
            &.menu-item-has-children {
                > .sub-menu {
                    padding-left: 0;
                    list-style: none;
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    > .menu-item {
                        > a {
                            color: $primary;
                            font-weight: 700;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            text-decoration: none !important;
                            &:after {
                                content: "\e313";
                                font-family: 'Material Symbols Outlined';
                                font-size: 1rem;
                            }
                            &.active:after {
                                content: "\e316";
                            }
                        }
                        > .sub-menu {
                            display: none;
                            list-style: none;
                            padding-left: 0;
                            padding-top: 1rem;
                            > li{
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.copyright-area .footer-widget-area {
    gap: 0;
    justify-content: space-between;
    flex-direction: row;
    > div:first-child {
        display: none;
    }
    @include media-breakpoint-down(md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        > div:first-child {
            display: block;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 1;
        }
        > div:nth-child(2) {
            grid-row-start: 3;
            margin-top: 2rem;
        }
        > div:nth-child(3) {
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 1;
            text-align: right;
        }
        > div:nth-child(4) {
            grid-column-start: 2;
            grid-row-start: 2;
            grid-row-end: 2;
            text-align: right;
        }
        > div:nth-child(5) {
            margin-top: 2rem;
            text-align: right;
        }
    }
    a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}