.page-header {
  position: sticky;
  top: calc(
    var(--admin-offset) + var(--fake-header-offset) + var(--page-header-gap)
  );
  z-index: 100;
  padding: 1em 0;
  transition: top 0.35s ease;
}

.admin-bar {
  .page-header {
    //top: 40px;
  }
}

.anchor-nav-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @include media-breakpoint-up(md) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @include media-breakpoint-up(lg) {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
}

.anchor-nav-wrap::-webkit-scrollbar {
  display: none;
}

.anchor-nav {
  display: flex;
  gap: 16px;
  width: max-content;
  background: rgba(71, 71, 75, 0.5);
  backdrop-filter: blur(22.5px);
  border-radius: 6px;

  @include media-breakpoint-up(lg) {
    width: 80vw;
  }

  @include media-breakpoint-up(sxl) {
    width: 60vw;
  }

  .anchor-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    appearance: none;
    color: #fff;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.25s ease;

    /* default: tra md+1 e sotto lg */
    flex: 0 0 23vw;
    width: 25vw;

    /* mobile fino a md */
    @include media-breakpoint-down(md) {
      flex: 0 0 48vw;
      width: 48vw;
    }

    .anchor-number {
      color: #fff;
      position: relative;
      margin-right: 0.8em;
      transition: all 0.25s ease;

      &::after {
        content: "";
        width: 1px;
        top: 0.2em;
        bottom: 0.2em;
        background-color: #fff;
        position: absolute;
        right: -0.4em;
        transition: all 0.25s ease;
      }
    }

    @include media-breakpoint-up(lg) {
      flex: 1 1 0;
      width: auto;
      white-space: normal;
    }
  }

  .anchor-link.is-active {
    background: rgba(255, 255, 255, 0.08);
    font-weight: 600;

    .anchor-number {
      font-weight: 600;

      &::after {
        background-color: $secondary;
        top: -0.2em;
        bottom: -0.2em;
      }
    }
  }
}

.section {
  background-color: $grey200;
}
