.bg-grey {
    background-color: $grey !important;
}

.bg-blog {
    background: $blog-txt !important;
}

.text-primary {
    color: $primary !important;
}

.text-blog {
    color: $blog-txt !important;
}

.text-grey-300 {
    color: #9D9D9D !important;
}