.bg-grey {
    background-color: $grey !important;
}

.bg-blog {
    background: $blog-txt !important;
}

.bg-primary {
    background: $primary !important;
}

.text-primary {
    color: $primary !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-blog {
    color: $blog-txt !important;
}

.text-grey-300 {
    color: $grey300 !important;
}
.text-grey-500 {
    color: $grey500 !important;
}
.text-grey-600 {
    color: $grey600 !important;
}